@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Reset do CSS*/
*{
    margin: 0px;
    padding: 0px;
}

/* Configurações gerais*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
p {
    text-align:center;
}
header{
    background-color: rgb(28, 57, 184);
    color: azure;
    font-family: "Poppins", sans-serif;
    padding: 60px;
    font-size:xx-large;
}


main{
    background-color: rgb(54, 108, 190);
    flex: 1;
    font-family: "Poppins", sans-serif;
    padding: 48px 38px 48px 38px;
    width: 100%;
}

about-section{
    display:block;
    background-color: rgb(162, 199, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 60px;
    border-radius: 40px;
}

#titulo-sobre-mim{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    border-bottom: blue;
    width: 80%;
    background-color: rgba(62, 113, 146, 0);
    margin-top: 60px;
    padding: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border: 38px 0px 38px 0px;
}
.texto-sobre-mim{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    width: 80%;
    background-color:  rgba(62, 113, 146, 0);
    padding: 32px;
}
hobbies{
    display:block;
    background-color: rgb(162, 199, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    font-size: xx-large;
    border-radius: 40px;
}

ul{
    list-style: none;
    font-size: medium;
    margin-top: 60px;
    padding: 0;
    display: flex;
    gap: 10px;
    border-radius: 200px;
}

li{
    background-color: rgb(0, 25, 138);
    padding: 12px;
    border-left: 4px solid rgb(0, 0, 0);
    font-size: 16px;
    min-width: 250px;
    color: azure;

}

li:houver{
    background-color: beige;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

h1{
    color:  rgb(54, 108, 190);
}

contact{
    display:block;
    background-color: rgb(162, 199, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    font-size: xx-large;
    border-radius: 40px;
}

contact h2 {
    margin-bottom: 8px;
    font-size: 30px;
    text-align: center;
}

contact p {
    font-size: 22px;
    text-align: center;
}

contact a {
    color: rgb(69, 126, 211);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid rgb(63, 98, 214);
    border-radius: 25px;
}

contact a:hover {
    background-color: blue;
    color:azure;
    transform: translateY(-2px);
}
footer{
    background-color: rgb(39, 39, 39);
    color: azure;
    text-align: center;
    padding: 2rem;
    width: 100%;
}
footer p {
    font-size: 1rem;
}